<div class="container my-5">
    <div class="dash-flex">
        <div routerLinkActive="active" class="cases col-div" routerLink="info">
            Info.
        </div>
        <div routerLinkActive="active" class="cases col-div" routerLink="/countries">
            Country Data
        </div>
        <div routerLinkActive="active" class="cases col-div" routerLink="world">
            World Map
        </div>
        <div routerLinkActive="active" class="cases col-div" routerLink="india">
            India
        </div>
    </div>
</div>