.cases{
    background-color: rgb(56, 60, 168);
    margin: 0 .25rem;
    text-align: center;
    border-radius: .5rem .5rem 0px 0px;
    padding: 1rem;
    font-size: 1rem;
}
.cases:hover, .vaccination:hover{
    cursor: pointer;
    background-color: rgb(94, 117, 190);
}

.dash-flex{
    display: flex;
    justify-content: center;
}
.col-div{
    width: 22%;
}
.active{
    background-color: rgb(113, 132, 216);
}
@media screen and (max-width:768px) {
   
    .cases{
        /* padding: .5rem; */
        font-size: .9rem;
    }
}
@media screen and (max-width:592px) {
    .cases{
        padding: .5rem;
        font-size: .8rem;
    }
}