.desc{
    font-size:1rem;
    text-align: justify;
}
.heading{
    color: rgb(71, 127, 199);
}
table{
    width: 100%;
    font-size: 1rem;
    text-align: center;
}
th,td{
    padding: .5rem;
}
th{
    background-color: black;
    color: white;
}
tr:nth-child(even){
    background-color: rgb(42, 56, 93);
}
tr:nth-child(odd){
    background-color: rgb(25, 35, 63);
}
a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:592px) {
    table{
        font-size: .7rem;
    }
    th,td{
        padding: .2rem;
    }
}