<div class="container">
    <div class="para my-5">
        <p class="h1 mb-4 heading">About Covid-19</p>
        <p class="desc">Coronavirus disease 2019 (COVID-19), also known as COVID and the coronavirus, is a contagious
            disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The first known case was
            identified in Wuhan, China, in December 2019. The disease has since spread worldwide, leading to an ongoing
            pandemic.
            Symptoms of COVID-19 are variable, but often include fever, cough, headache, fatigue, breathing
            difficulties, and loss of smell and taste. Symptoms may begin one to fourteen days after exposure to the
            virus. At least a third of people who are infected do not develop noticeable symptoms. Of those people who
            develop symptoms noticeable enough to be classed as patients, most (81%) develop mild to moderate symptoms
            (up to mild pneumonia), while 14% develop severe symptoms (dyspnea, hypoxia, or more than 50% lung
            involvement on imaging), and 5% suffer critical symptoms (respiratory failure, shock, or multiorgan
            dysfunction). Older people are at a higher risk of developing severe symptoms. Some people continue to
            experience a range of effects (long COVID) for months after recovery, and damage to organs has been
            observed. Multi-year studies are underway to further investigate the long-term effects of the disease.</p>
    </div>
    <div class="para my-5">
        <p class="h1 mb-4 heading">Covid-19 Symptoms</p>
        <p class="desc">Symptoms of COVID-19 are variable, ranging from mild symptoms to severe illness. Common
            symptoms include headache, loss of smell and taste, nasal congestion and runny nose, cough, muscle pain,
            sore throat, fever, diarrhea, and breathing difficulties. People with the same infection may have
            different symptoms, and their symptoms may change over time. Three common clusters of symptoms have been
            identified one respiratory symptom cluster with cough, sputum, shortness of breath, and fever; a
            musculoskeletal symptom cluster with muscle and joint pain, headache, and fatigue; a cluster of digestive
            symptoms with abdominal pain, vomiting, and diarrhea. In people without prior ear, nose, and throat
            disorders, loss of taste combined with loss of smell is associated with COVID-19.</p>
        <p class="desc">Of people who show symptoms, 81% develop only mild to moderate symptoms (up to mild pneumonia),
            while 14% develop severe symptoms (dyspnea, hypoxia, or more than 50% lung involvement on imaging) and 5% of
            patients suffer critical symptoms (respiratory failure, shock, or multiorgan dysfunction). At least a
            third of the people who are infected with the virus do not develop noticeable symptoms at any point in
            time. These asymptomatic carriers tend not to get tested and can spread the disease.
            Other infected people will develop symptoms later, called "pre-symptomatic", or have very mild symptoms and
            can also spread the virus.</p>
        <p class="desc">
            As is common with infections, there is a delay between the moment a person first becomes infected and the
            appearance of the first symptoms. The median delay for COVID-19 is four to five days. Most symptomatic
            people experience symptoms within two to seven days after exposure, and almost all will experience at least
            one symptom within 12 days.</p>
        <p class="desc">
            Most people recover from the acute phase of the disease. However, some people – over half of a cohort of
            home-isolated young patients – continue to experience a range of effects, such as fatigue, for
            months after recovery, a condition called long COVID; long-term damage to organs has been observed.
            Multi-year studies are underway to further investigate the long-term effects of the disease.
        </p>
    </div>
    <div class="para my-5">
        <p class="h1 mb-4 heading">Vaccines</p>
        <p class="desc">A COVID‑19 vaccine is a vaccine intended to provide acquired immunity against severe acute
            respiratory syndrome coronavirus 2 (SARS‑CoV‑2), the virus that causes coronavirus disease 2019 (COVID‑19).
            Prior to the COVID‑19 pandemic, an established body of knowledge existed about the structure and function of
            coronaviruses causing diseases like severe acute respiratory syndrome (SARS) and Middle East respiratory
            syndrome (MERS). This knowledge accelerated the development of various vaccine platforms during early
            2020. The initial focus of SARS-CoV-2 vaccines was on preventing symptomatic, often severe
            illness. On 10 January 2020, the SARS-CoV-2 genetic sequence data was shared through GISAID, and by 19
            March, the global pharmaceutical industry announced a major commitment to address COVID-19. The
            COVID‑19 vaccines are widely credited for their role in reducing the spread, severity, and death caused by
            COVID-19.</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Vaccine Brand Name</th>
                <th>Who Can Get this Vaccine</th>
                <th>How Many Shots You Will Need</th>
                <th>When Are You Fully Vaccinated?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pfizer-BioNTech</td>
                <td>People 12 years and older</td>
                <td>2 shots<br>
                    Given 3 weeks (21 days) apart</td>
                <td>2 weeks after your second shot</td>
            </tr>
            <tr>
                <td>Moderna</td>
                <td>People 18 years and older</td>
                <td>2 shots<br>
                    Given 4 weeks (28 days) apart</td>
                <td>2 weeks after your second shot</td>
            </tr>
            <tr>
                <td>Johnson & Johnson’s Janssen</td>
                <td>People 18 years and older</td>
                <td>1 shot</td>
                <td>2 weeks after the shot</td>
            </tr>
            <tr>
                <td>Covishield</td>
                <td>People 18 years and older</td>
                <td>2 shots<br>
                    Given 12 weeks (84 days) apart</td>
                <td>2 weeks after your second shot</td>
            </tr>
            <tr>
                <td>Covaxin</td>
                <td>People 18 years and older</td>
                <td>2 shots<br>
                    Given 4 weeks (28 days) apart</td>
                <td>2 weeks after your second shot</td>
            </tr>
            <tr>
                <td>Sputnik</td>
                <td>People 18 years and older</td>
                <td>2 shots<br>
                    Given 3 weeks (21 days) apart</td>
                <td>2 weeks after your second shot</td>
            </tr>
        </tbody>
    </table>
    <footer>
        <div class="references my-5">
            <p class="heading h2">APIs Used</p>
            <p class="desc">Below are the APIs used with their respective endpoints which helped us get access to the
                covid related data in real time and create different components for this dashboard.</p>
            <table>
                <tr>
                    <th>
                        Data
                    </th>
                    <th>
                        Endpoints
                    </th>
                </tr>
                <tr>
                    <td>
                        <p>India Covid-19 Data</p>
                    </td>
                    <td><a href="https://data.covid19india.org/v4/min/data.min.json"
                            target="_blank">Link-1</a></td>
                </tr>
                <tr>
                    <td>
                        <p>Countries Covid-19 Data</p>
                    </td>
                    <td><a href="https://corona.lmao.ninja/v2/countries/india?yesterday=true&strict=true&query" target="_blank">Link-2</a></td>
                </tr>
                <tr>
                    <td>
                        <p>Countries Vaccination Data</p>
                    </td>
                    <td><a href="https://disease.sh/v3/covid-19/vaccine/coverage/countries/india?lastdays=1" target="_blank">Link-3</a></td>
                </tr>
                <tr>
                    <td>
                        <p>About Countries</p>
                    </td>
                    <td><a href="https://restcountries.com/v3/name/india" target="_blank">Link-4</a></td>
                </tr>
            </table>
        </div>
</footer>
</div>