.col-countries{
     width: 27%;
 }
.col-details{
     width: 69%;
 }
.contain{
    display: flex;
    justify-content: space-between
 }
.back:hover{
    cursor: pointer;
}
.back-btn{
    width: 1.5rem;
    height: 1.5rem;
}
@media screen and (max-width:768px) {
    .col-countries{
        width: 30%;
    }
}
@media screen and (max-width:592px) {
    .contain{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col-countries{
        width: 80%;
    }
    .col-details{
        width: 100%;
    }
}