.country-list:hover{
    cursor: pointer;
    background-color:#667bba;
    color: black;
}
.card{
    background-color: #1f2c54;
}
.countries{
    max-height: 100vh;
    overflow: auto;
}
.h4{
    font-size: 1rem;
}
.flag{
    width: 2.5rem;
}
.err{
    display: flex;
    justify-content: center;
}
.loader{
    margin: 5rem 2rem;
    width: 3rem;
}
@media screen and (max-width:768px) {
    .h4{
       font-size: .8rem;
    }

}
@media screen and (max-width:592px) {
    .countries{
        max-height: 40vh;
        margin-bottom: 4rem;
    }
    .h4{
        font-size: 1.2rem;
     }
 
}