.board{
    background-color: rgb(38 38 128);
    background-image: url('https://i.guim.co.uk/img/media/56e147dd5aaa2c8829f8e5173a96c5afeec071ba/0_0_5625_3375/master/5625.jpg?width=1200&quality=85&auto=format&fit=max&s=ba467c61afefbad9af27e2e124844cd9');
    background-position: 50% 50%;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    z-index: 1;
    width: 60%;
    margin: auto;
}
.figures{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.overlay{
    background-color: rgb(0,0,0,0.5);
    z-index: 2;
    padding: 3rem;
}
.err{
    display: flex;
    justify-content: center;
}
.loader{
    margin: 5rem 2rem;
    width: 3rem;
}
.val{
    z-index: 3;
}
.country-name{
    font-size: 1.2rem;
    align-self: center;
    font-weight: bold;
    margin: 0px 1rem;
    text-align: center;
}

