<div class="headers">
    <div class="row-flex">
        <div class="col-div">
            <img class="image-covid"
                src="https://img.mlo-online.com/files/base/ebm/mlo/image/2020/05/Pixabay_coronavirus_5107715_1280.5eb16e6f5f05a.png?auto=format&w=720">
        </div>
        <div class="col-div m-auto text-center">
            <p class="h1">Welcome to Covid-19 International Dashboard</p>
        </div>
    </div>
    <p class="text-center h4">An International Covid-19 infection and vaccination tracker</p>
</div>